<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
<body>
<div th:replace="~{layouts/header :: header}"></div>

<div class="container mt-5">
    <a href="/courses/register" class="link-warning">Register new Course</a>

    <h2>Courses</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Course Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courses}">
            <td><a th:href="@{'/courses/show/' + ${course.getId()}}" th:text="${course.getId()}"></a></td>
            <td th:text="${course.getName()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>