<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Departments</title>
</head>
<body>
<div th:replace="~{layouts/header :: header}"></div>

<div class="container mt-5">
    <a href="/departments/register" class="link-warning">Register new department</a>

    <h2>Departments</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Department Name</th>
                <th>Department Courses</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="department : ${departments}">
                <td><a th:href="@{'/departments/show/' + ${department.getId()}}" th:text="${department.getId()}"></a></td>
                <td th:text="${department.getName()}"></td>
                <td th:text="${department.getCourses()}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>