<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Lesson</title>
</head>
<body style="background-color: #252d36;">
<div th:replace="~{layouts/header :: header}"></div>

<div class="container text-white">
    <h2>Update Lesson</h2>

    <form th:action="@{/lesson/update}" th:object="${lesson}" method="post">
        <input type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" th:field="*{name}"/>
        </div>

        <div class="form-group">
            <label for="audience">Audience</label>
            <select class="form-control" name="audience" id="audience">
                <option th:each="audience : ${audiences}" th:value="${audience}" th:text="${audience}" th:field="*{audience}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="dayOfWeek">Day Of Week</label>
            <select class="form-control" name="dayOfWeek" id="dayOfWeek">
                <option th:each="day : ${dayOfWeeks}" th:value="${day}" th:text="${day}" th:field="*{dayOfWeek}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="startTime">Start Time</label>
            <input type="time" id="startTime" name="startTime" class="form-control" th:field="*{startTime}">
        </div>

        <div class="form-group">
            <label for="endTime">End Time</label>
            <input type="time" id="endTime" name="endTime" class="form-control" th:field="*{endTime}">
        </div>

        <div class="form-group">
            <label for="courseId">Course</label>
            <select class="form-control" id="courseId" name="courseId">
                <option th:each="course : ${courses}" th:value="${course.getId()}" th:text="${course.getName()}" th:field="*{course}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="groupId">Groups</label>
            <select class="form-control" id="groupId" name="groupId">
                <option th:each="group : ${groups}" th:value="${group.getId()}" th:text="${group.getName()}" th:field="*{group}"></option>
            </select>
        </div>

        <input type="hidden" id="teacherId" name="teacherId" th:value="*{teacher.getId()}">

        <button type="submit" class="btn btn-primary mt-3">Update</button>
    </form>

    <form th:action="@{/lesson/delete}" th:object="${lesson}" method="post">
        <input type="hidden" name="lessonId" th:value="${lesson.id}" />
        <button type="submit" class="btn btn-danger mt-3">Delete</button>
    </form>
</div>

</body>
</html>