<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:replace="~{layouts/header :: header}"></div>

<div class="container mt-5">
    <h2>Students</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Group</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.getId()}"></td>
                <td th:text="${student.getName()}"></td>
                <td th:text="${student.getSurname()}"></td>
                <td th:text="${student.getGroup()}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>