<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teachers</title>
</head>
<body>
<div th:replace="~{layouts/header :: header}"></div>

<div class="container mt-5">
    <h2>Teachers</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Course</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="teacher : ${teachers}">
                <td th:text="${teacher.getId()}"></td>
                <td th:text="${teacher.getName()}"></td>
                <td th:text="${teacher.getSurname()}"></td>
                <td th:text="${teacher.getCourses()}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>